
<%= form_for(@workout, :class => 'form') do |f| %>
  <% if @workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

      <ul>
      <% @workout.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :workout_name, "Name your Workout" %><br>
    <%= f.text_field :workout_name %>
  </div>

    <!-- TODO add in activity form fields to workout form
    use debugging to fix up-->

  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes, :rows => '10' %>
  </div>
  <div class="actions">
  <%= f.submit :class => 'btn btn-default' %>
  </div>
<% end %>

<script>
  function disableInputs(){
    var selectEl = document.getElementById("activity-select");
    var selectOpt = selectEl.options[selectEl.selectedIndex].dataset.activityType;
    if(selectOpt === "anabolic") {
      document.getElementById("workout_time").setAttribute("disabled", true);
      document.getElementById("workout_distance").setAttribute("disabled", true);
      document.getElementById("workout_sets").removeAttribute("disabled");
      document.getElementById("workout_reps").removeAttribute("disabled");
    } else {
      document.getElementById("workout_sets").setAttribute("disabled", true);
      document.getElementById("workout_reps").setAttribute("disabled", true);
      document.getElementById("workout_time").removeAttribute("disabled");
      document.getElementById("workout_distance").removeAttribute("disabled");
    }
  };

  disableInputs();
  $("#activity-select").change(function(){
    disableInputs();
  });

</script>
