<%= form_for(@workout, :class => 'form') do |f| %>
  <% if @workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

      <ul>
      <% @workout.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :workout_name, "Name your Workout", :class => 'h1' %><br>
    <%= f.text_field :workout_name %>
  </div>

  <!-- TODO: If workout activities doesn't exist add link add an activity -->
  <%= f.fields_for :workout_activities do |fwa| %>
    <div class="form-section" id="activity-<%= fwa.index %>">
      <div class="field">
        <%= fwa.label :name, "Activity Name" %><br>
        <div class="form-select">
          <%= fwa.select(:activity_id, Activity.all.collect { |a| [a.name, a.id]}, include_blank: true) %>
        </div>
      </div>

      <div class="field" id="workout_sets">
        <%= fwa.label :sets, "Sets" %>
        <%= fwa.text_field :sets %>
      </div>

      <div class="field" id="workout_reps">
        <%= fwa.label :reps, "Reps" %>
        <%= fwa.text_field :reps %>
      </div>
      <div class="field" id="workout_sets">
        <%= fwa.label :weight, "Weight (lbs)" %>
        <%= fwa.text_field :weight %>
      </div>
      <div class="field">
        <%= fwa.label :distance, "Distance (km)" %>
        <%= fwa.text_field :distance %>
      </div>
      <div class="field">
        <%= fwa.label :time, "Time (minutes)" %>
        <%= fwa.text_field :time %>
      </div>
    </div>
  <% end %>

  <a href="javascript:void(0);" class="btn btn-collapse" id="new-activity-link">Add an activity to your workout
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="18 53.5 893 893" enable-background="new 18 53.5 893 893" xml:space="preserve">
    <path d="M464.5,53.5c123,0,228.167,43.667,315.5,131S911,377,911,500s-43.667,228.167-131,315.5s-192.5,131-315.5,131
      s-228.167-43.667-315.5-131S18,623,18,500s43.667-228.167,131-315.5S341.5,53.5,464.5,53.5z M688,555.5v-112H521v-167H409v167H241
      v112h168v168h112v-168H688z"/>
    </svg>
  </a>


  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes, :rows => '10' %>
  </div>
  <div class="actions">
  <%= f.submit :class => 'btn btn-default' %>
  </div>
<% end %>

<script>
$(document).ready(function(){
  var activityNum = 1;
    function addNewActivity(){
    var newActivity = "<div class='form-section collapsing-content out collapse in' id='activity-"+ activityNum +"'>"+
  "<div class='field'>"+
  "<label for='workout_workout_activities_attributes_"+activityNum+"_name'>Activity Name</label><br>"+
  "<div class='form-select'>"+
  "<select name='workout[workout_activities_attributes]["+activityNum+"][activity_id]' "+
  "id='workout_workout_activities_attributes_"+activityNum+"_activity_id'><option value='></option>"+
  "<option value></option>"+
  "<option value='1'>Angry Gorilla Bounce</option>"+
  "<option value='2'>Push Press with DB’s</option>"+
  "<option value='3'>Suicides</option>"+
  "<option value='4'>Slurpees</option>"+
  "<option value='5'>Single arm kettle bell swings</option>"+
  "<option value='6'>Stationary Bike</option>"+
  "<option value='7'>Walking Lunge</option>"+
  "<option value='8'>Running</option>"+
  "<option value='9'>Suicides</option>"+
  "<option value='10'>Ball Slams</option>"+
  "<option value='11'>Kettle Bell Swings</option>"+
  "<option value='12'>Pepper Punches</option>"+
  "<option value='13'>Ring PushUps/Ring Planks</option>"+
  "<option value='14'>Spin Class</option></select>"+
  "</div>"+
  "</div>"+

  "<div class='field' id='workout_sets'>"+
  "<label for='workout_workout_activities_attributes_"+activityNum+"_sets'>Sets</label>"+
  "<input type='text' name='workout[workout_activities_attributes]["+activityNum+"][sets]' "+
  "id='workout_workout_activities_attributes_"+activityNum+"_sets'>"+
  "</div>"+
  "<div class='field' id='workout_reps'>"+
  "<label for='workout_workout_activities_attributes_"+activityNum+"_reps'>Reps</label>"+
  "<input type='text' name='workout[workout_activities_attributes]["+activityNum+"][reps]' "+
  "id='workout_workout_activities_attributes_"+activityNum+"_reps'>"+
  "</div>"+
  "<div class='field' id='workout_sets'>"+
  "<label for='workout_workout_activities_attributes_"+activityNum+"_weight'>Weight</label>"+
  "<input type='text' name='workout[workout_activities_attributes]["+activityNum+"][weight]' "+
  "id='workout_workout_activities_attributes_"+activityNum+"_weight'>"+
  "</div>"+
  "<div class='field'>"+
  "<label for='workout_workout_activities_attributes_"+activityNum+"_distance'>distance</label>"+
  "<input type='text' name='workout[workout_activities_attributes]["+activityNum+"][distance]' "+
  "id='workout_workout_activities_attributes_"+activityNum+"_distance'>"+
  "</div>"+
  "<div class='field'>"+
  "<label for='workout_workout_activities_attributes_"+activityNum+"_time'>time</label>"+
  "<input type='text' name='workout[workout_activities_attributes]["+activityNum+"][time]' "+
  "id='workout_workout_activities_attributes_"+activityNum+"_time'>"+
  "</div>"+
  "</div>";
  activityNum++;
  console.log(newActivity);
  $('#new-activity-link').before(newActivity);
};
$("#new-activity-link").click(function(){
  console.log('hello');
  addNewActivity();
});
});

</script>
