
<%= form_for(@workout, :class => 'form') do |f| %>
  <% if @workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

      <ul>
      <% @workout.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :workout_type, "Name your Workout" %><br>
    <%= f.text_field :workout_type %>
  </div>

  <div class="field">
    <%= link_to 'Add an activity to your workout', new_activity_path %>
    <!-- render activties/form -->
  </div>

    <!-- TODO add in activity form fields to workout form
    use debugging to fix up-->
    <% @workout.activities do |activity| %>
        <%= workout_form.fields_for activity, index: activity.id do |activity_form|%>
          <div class="field">
            <%= activity_form.label :name %><br>
            <%= activity_form.text_field :name %>
          </div>
          <div class="field">
            <%= activity_form.label :type %>
            <%= activity_form.select_tag(
                "activity_type",
                options_for_select([
                  ['Aerobic', 'aerobic'],
                  ['Anaerobic', 'anaerobic'],
                  ['Interval', 'interval'],
                  ['Momentum', 'momentum'],
                  ['Durability', 'durability'],
                  ['Weights', 'weights'],
                  ['Kettle Bells', 'kettle-bells']
                ])
              ) %>
          </div>
        <% end %>
      <% end %>

  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes, :rows => '10' %>
  </div>
  <div class="actions">
  <%= f.submit :class => 'btn btn-default' %>
  </div>
<% end %>
