<%= form_for(@workout, :class => 'form') do |f| %>
  <% if @workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

      <ul>
      <% @workout.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :workout_name, "Name your Workout", :class => 'h1' %><br>
    <%= f.text_field :workout_name %>
  </div>

  <%= f.fields_for :workout_activities do |fwa| %>
    <!-- TODO: If workout activities doesn't exist add link add an activity -->
    <a href="" class="btn-collapse collapsed" data-toggle="collapse" data-target="#activity-<%= fwa.index %>">
      Add an Activity
      <svg version="1.1" id="down-arrow" class="down-arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" fill="#32dac4"
        viewBox="-90 346.285 612 388.574" enable-background="new -90 346.285 612 388.574"
        xml:space="preserve">
        <path d="M-90,438.571l315.713,296.287L522,419.142v-72.857L225.713,666.858L-90,365.713V438.571z"/>
      </svg>
    </a>

    <div class="form-section collapsing-content collapse out" id="activity-<%= fwa.index %>">
      <div class="field">
        <%= fwa.label :name, "Activity Name" %><br>
        <div class="form-select">
          <%= fwa.select(:activity_id, Activity.all.collect { |a| [a.name, a.id]}, include_blank: true) %>
        </div>
      </div>

      <div class="field" id="workout_sets">
        <%= fwa.label :sets, "Sets" %>
        <%= fwa.text_field :sets %>
      </div>
      <div class="field" id="workout_reps">
        <%= fwa.label :reps, "Reps" %>
        <%= fwa.text_field :reps %>
      </div>
      <div class="field" id="workout_sets">
        <%= fwa.label :weight, "Weight" %>
        <%= fwa.text_field :weight %>
      </div>
      <div class="field">
        <%= fwa.label :distance, "distance" %>
        <%= fwa.text_field :distance %>
      </div>
      <div class="field">
        <%= fwa.label :time, "time" %>
        <%= fwa.text_field :time %>
      </div>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes, :rows => '10' %>
  </div>
  <div class="actions">
  <%= f.submit :class => 'btn btn-default' %>
  </div>
<% end %>


<script>
  function disableInputs(){
    var selectEl = document.getElementById("activity-select");
    var selectOpt = selectEl.options[selectEl.selectedIndex].dataset.activityType;
    if(selectOpt === "anabolic") {
      document.getElementById("workout_time").setAttribute("disabled", true);
      document.getElementById("workout_distance").setAttribute("disabled", true);
      document.getElementById("workout_sets").removeAttribute("disabled");
      document.getElementById("workout_reps").removeAttribute("disabled");
    } else {
      document.getElementById("workout_sets").setAttribute("disabled", true);
      document.getElementById("workout_reps").setAttribute("disabled", true);
      document.getElementById("workout_time").removeAttribute("disabled");
      document.getElementById("workout_distance").removeAttribute("disabled");
    }
  };

  disableInputs();
  $("#activity-select").change(function(){
    disableInputs();
  });

</script>
