<%= form_for(@workout, :class => 'form') do |f| %>
  <% if @workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

      <ul>
      <% @workout.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :workout_name, "Name your Workout", :class => 'h1' %><br>
    <%= f.text_field :workout_name %>
  </div>

  <!-- TODO: If workout activities doesn't exist add link add an activity -->
  <%= f.fields_for :workout_activities do |fwa| %>
    <div class="form-section" id="activity-<%= fwa.index %>">
      <div class="field">
        <%= fwa.label :name, "Activity Name" %><br>
        <div class="form-select">
          <%= fwa.select(:activity_id, Activity.all.collect { |a| [a.name, a.id]}, include_blank: true) %>
        </div>
      </div>

      <div class="field" id="workout_sets">
        <%= fwa.label :sets, "Sets" %>
        <%= fwa.text_field :sets %>
      </div>
      <div class="field" id="workout_reps">
        <%= fwa.label :reps, "Reps" %>
        <%= fwa.text_field :reps %>
      </div>
      <div class="field" id="workout_sets">
        <%= fwa.label :weight, "Weight" %>
        <%= fwa.text_field :weight %>
      </div>
      <div class="field">
        <%= fwa.label :distance, "distance" %>
        <%= fwa.text_field :distance %>
      </div>
      <div class="field">
        <%= fwa.label :time, "time" %>
        <%= fwa.text_field :time %>
      </div>
    </div>
  <% end %>

  <a href="javascript:void(0);" id="new-activity-link">Add new activity</a>


  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes, :rows => '10' %>
  </div>
  <div class="actions">
  <%= f.submit :class => 'btn btn-default' %>
  </div>
<% end %>

<script>
$(document).ready(function(){
    function addNewActivity(){
  var activityNum = 1;
  var newActivity = "<div class='form-section collapsing-content out collapse in' id='activity-"+ activityNum +"'>"+
  "<div class='field'>"+
  "<label for='workout_workout_activities_attributes_"+activityNum+"_name'>Activity Name</label><br>"+
  "<div class='form-select'>"+
  "<select name='workout[workout_activities_attributes]["+activityNum+"][activity_id]' "+
  "id='workout_workout_activities_attributes_"+activityNum+"_activity_id'><option value='></option>"+
  "<option value='8'>bench press</option>"+
  "<option value='9'>running</option>"+
  "<option value='10'>squat</option>"+
  "<option value='11'>deadlift</option>"+
  "<option value='12'>cycling</option>"+
  "<option value='13'>swimming</option></select>"+
  "</div>"+
  "</div>"+

  "<div class='field' id='workout_sets'>"+
  "<label for='workout_workout_activities_attributes_"+activityNum+"_sets'>Sets</label>"+
  "<input type='text' name='workout[workout_activities_attributes]["+activityNum+"][sets]' "+
  "id='workout_workout_activities_attributes_"+activityNum+"_sets'>"+
  "</div>"+
  "<div class='field' id='workout_reps'>"+
  "<label for='workout_workout_activities_attributes_"+activityNum+"_reps'>Reps</label>"+
  "<input type='text' name='workout[workout_activities_attributes]["+activityNum+"][reps]' "+
  "id='workout_workout_activities_attributes_"+activityNum+"_reps'>"+
  "</div>"+
  "<div class='field' id='workout_sets'>"+
  "<label for='workout_workout_activities_attributes_"+activityNum+"_weight'>Weight</label>"+
  "<input type='text' name='workout[workout_activities_attributes]["+activityNum+"][weight]' "+
  "id='workout_workout_activities_attributes_"+activityNum+"_weight'>"+
  "</div>"+
  "<div class='field'>"+
  "<label for='workout_workout_activities_attributes_"+activityNum+"_distance'>distance</label>"+
  "<input type='text' name='workout[workout_activities_attributes]["+activityNum+"][distance]' "+
  "id='workout_workout_activities_attributes_"+activityNum+"_distance'>"+
  "</div>"+
  "<div class='field'>"+
  "<label for='workout_workout_activities_attributes_"+activityNum+"_time'>time</label>"+
  "<input type='text' name='workout[workout_activities_attributes]["+activityNum+"][time]' "+
  "id='workout_workout_activities_attributes_"+activityNum+"_time'>"+
  "</div>"+
  "</div>";
  activityNum++;
  console.log(newActivity);
  $('#new-activity-link').before(newActivity);
};
$("#new-activity-link").click(function(){
  console.log('hello');
  addNewActivity();
});
});

</script>
