<p id="notice"><%= notice %></p>

<h1>Listing Workouts</h1>

<table>
  <thead>
    <tr>
      <th>Workout Name</th>
      <th>Notes</th>
    </tr>
  </thead>

  <tbody>
    <% @workouts.each do |workout| %>
      <tr>
        <td><%= workout.workout_name %></td>
        <td><%= workout.notes %></td>
        <td class="hidden-xs"><%= link_to 'Details', workout %></td>
        <td class="hidden-xs"><%= link_to 'Edit', edit_workout_path(workout) %></td>
        <td class="hidden-xs"><%= link_to 'Destroy', workout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create a New Workout', new_workout_path, :class => 'btn btn-default' %>
