<p id="notice"><%= notice %></p>


<h2>You're doing great work <%= current_user.first_name %>! Keep it up.</h2>

<h1>Workout Listing</h1>

<table>
  <thead>
    <tr>
      <th>Workout Name</th>
      <th>Notes</th>
    </tr>
  </thead>

  <tbody>
    <% @workouts.each do |workout| %>
      <% if workout.user_id == current_user.id %>
        <tr>
          <td><%= workout.workout_name %>
          <td><%= workout.notes %></td>
            <td>
              <% workout.workout_activities.each do |wa| %>
                <%= wa.name %><br>
              <% end %>
            <td>
          </td>
          <td class="hidden-xs"><%= link_to 'Details', workout %></td>
          <td class="hidden-xs"><%= link_to 'Edit', edit_workout_path(workout) %></td>
          <td class="hidden-xs"><%= link_to 'Remove', workout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>

    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create a New Workout', new_workout_path, :class => 'btn btn-default' %>
