<p id="notice"><%= notice %></p>

<p>
  <strong>Workout type:</strong>
  <%= @workout.workout_type %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @workout.notes %>
</p>

<%= link_to 'Edit', edit_workout_path(@workout) %> |
<%= link_to 'Back', workouts_path %>
