<p id="notice"><%= notice %></p>

<p>
  <strong>Workout name:</strong>
  <%= @workout.workout_name %>
</p>

<div class="activity-list">
	<% @workout.getWorkoutActivities.each do |workout, i| %>
	<div>
		<div class="dib">
			<h3>Activity</h3>
			<% if false %>
			<%= @activities.getActivity %>
			<!-- TODO: fix this, find how out how pass in global variables within for loop to get activity name to appear -->
			<!-- So close, and yet, so far -->
			<!-- Currently showing activity_id -->
			<% end %>
			<%= workout.activity_id %>
		</div>
		<div class="dib">
			<h3>Sets</h3>
			<% if workout.sets %>
				<span class="data"><%= workout.sets %></span> 
			<% else %>
				<span class="no-data">N/A</span>
			<% end %>
		</div>
		<div class="dib">
			<h3>Reps</h3>
			<% if workout.reps %>
				<span class="data"><%= workout.reps %></span> 
			<% else %>
				<span class="no-data">N/A</span>
			<% end %>
		</div>
		<div class="dib">
			<h3>Weight (lbs)</h3>
			<% if workout.weight %>
				<span class="data"><%= workout.weight %></span> 
			<% else %>
				<span class="no-data">N/A</span>
			<% end %>
		</div>
		<div class="dib">
			<h3>Distance (km)</h3>
			<% if workout.distance %>
				<span class="data"><%= workout.distance %></span> 
			<% else %>
				<span class="no-data">N/A</span>
			<% end %>
		</div>
		<div class="dib">
			<h3>Time (minutes)</h3>
			<% if workout.time %>
				<span class="data"><%= workout.time %></span> 
			<% else %>
				<span class="no-data">N/A</span>
			<% end %>
		</div>
	</div>
	<% end %>
</div>

<p>
  <strong>Notes:</strong>
  <%= @workout.notes %>
</p>

<%= link_to 'Edit', edit_workout_path(@workout) %> |
<%= link_to 'Back', workouts_path %>
<%= link_to 'Add an activity to this workout', new_workout_activity_path(workout_id: @workout.id) %>
<!-- The above line passes in the id of the current workout as workout_id to the next page (meaning the workout_activities#new_form) -->
<!-- TODO: fix above path (nested routing?) to link to something like workout_activity/workoutId/new -->