<%= form_for(@entry) do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :weight, "Weight (lb)" %><br>
    <%= f.number_field :weight %>
  </div>
  <div class="field">
    <%= f.label :thigh, "Thigh (cm)" %><br>
    <%= f.number_field :thigh %>
  </div>
  <div class="field">
    <%= f.label :waist, "Waist (cm)" %><br>
    <%= f.number_field :waist %>
  </div>
  <div class="field">
    <%= f.label :chest, "Chest (cm)" %><br>
    <%= f.number_field :chest %>
  </div>
  <div class="field">
    <%= f.label :upperarm, "Upper Arm (cm)" %><br>
    <%= f.number_field :upperarm %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
  <%= f.submit :class => 'btn btn-default' %>
  </div>
<% end %>
