<p id="notice"><%= notice %></p>
<p>
  <strong>Date:</strong>
  <% if @entry.created_at != @entry.updated_at %>
    <%= @entry.updated_at %>
    <!-- TODO: format timestamps for created_at and updated_at -->
  <% else %>
    <%= @entry.created_at %>
  <% end %>
</p>

<p>
  <strong>Weight(lb):</strong>
  <%= @entry.weight %>
</p>

<p>
  <strong>Thigh(cm):</strong>
  <%= @entry.thigh %>
</p>

<p>
  <strong>Waist(cm):</strong>
  <%= @entry.waist %>
</p>

<p>
  <strong>Chest(cm):</strong>
  <%= @entry.chest %>
</p>

<p>
  <strong>Upperarm(cm):</strong>
  <%= @entry.upperarm %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @entry.notes %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
