<%= @activities.each do |activity| %>
	<p><%= activity.name %></p>
	<p><%= activity.sets %></p>
	<p><%= activity.repetition %></p>
	<p><%= activity.other %></p>
<% end %>

<%= link_to "New", new_activity_path, class: "new-link", title: "New" %>
