<%= @activities.each do |activity| %>
	<div class="activity-item">
		<p><%= activity.name %></p>
		<p><%= link_to "Edit", edit_activity_path(activity) %></p>
		<p><%= link_to "Delete", activity_path(activity), method: :delete %></p>	
	</div>
<% end %>
<div>	
	<%= link_to "New", new_activity_path, class: "new-link", title: "New" %>
</div>