<header class="header">
  <nav class="nav sidebar" role="navigation">
    <%= link_to 'FitJunkies', root_path, class: 'logo', title: 'Fit Junkies' %>
    <div class="navbar-header visible-xs">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <ul class="nav">
      <li>
        <%= link_to "Workouts", workouts_path, class: 'active' %>
      </li>
      <li class=""><%= link_to "Workouts", workouts_path %></li>
      <li class=""><%= link_to "Contact", workouts_path %></li>
      <% if user_signed_in? %>
        <li>
          <%= link_to 'New Workout', new_workout_path %>
        </li>
        <li>
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
        </li>
        <li>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        </li>
        <!-- <li class="logged-in">Logged in as <strong><%= current_user.email %></strong></li> -->
      <% else %>
        <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
        <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
      <% end %>
    </ul>
  </nav>
</header>

