<header class="header">
  <nav class="nav sidebar" role="navigation">
    <a href="<%= root_path %>" title="Fit Junkies" class="logo-junkie">F<span class="hidden-xs">it</span> J<span class="hidden-xs">unkies</span></a>
    <div class="navbar-header visible-xs">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <ul class="nav collapse" id="navbar-collapse">
      <li class=""><%= link_to "Workouts", workouts_path %></li>
      <% if user_signed_in? %>
        <li class=""><%= link_to "New Activity", new_activity_path %></li>
        <li>
          <%= link_to 'Profile', edit_user_registration_path, :class => 'navbar-link' %>
        </li>
        <li><%= link_to "Workout Log", workout_logs_path %></li>
        <li><%= link_to "Personal Attributes Log", entries_path %></li>
        <!-- <li class="logged-in">Logged in as <strong><%= current_user.email %></strong></li> -->
      <% else %>
        <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
        <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
      <% end %>
    </ul>
  </nav>
</header>

