<!DOCTYPE html>
<html>
<%= render 'layouts/head' %>
<body class="<%= params[:controller] %>-<%= params[:action] %>">

<div class="wrapper">
  <div class="inner-wrapper">
    <aside class="sidebar-container">
      <%= render 'layouts/header' %>
      <%= render 'layouts/footer' %>
    </aside>

    <div class="home-wrapper">
      <%= yield %>
    </div>
  </div>
</div>


</body>
</html>
